*.exe
*.out
*.app
*.o
*.obj
*.so
*.a
*.dll
*.lib
*.lo
*.la

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

build/
build*/
bin/
lib/
logs/

*.log
*.tmp
*.swp
*.swo
*.bak

*.user
*.code-workspace
*.vscode/
.idea/
*.iml

*.sdf
*.opensdf
*.VC.db
*.vcxproj*
*.pdb
*.ipch
Debug/
Release/
x64/